# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
terraform.tfvars.json
crash.log
*.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build output
build/
dist/

# Node.js (nếu dùng để build UI, dashboard,...)
node_modules/

# Tests
coverage/
.nyc_output/

# OS hệ thống
.DS_Store

# Thư mục tạm
tmp/
temp/
.temp/
.tmp/

# Python (nếu dùng trong DevOps)
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.env
.venv/
venv/

# IDEs và editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
