.tooltip {
  width: 250px;
  height: 150px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  max-width: 300px;
  border-radius: 10px;
}

.living {
  display: flex;
  justify-content: space-between;
}
.living p 
{
    display: inline-block;
}
.infoUser {
  display: flex;
}
.tooltipContainerRight {
  display: flex;
  flex-direction: column;
}
