.userLikeCard
{
    display: flex;
    justify-content: space-between;
    padding:15px;
}

.likedUserName
{
    font-style: bold;
}

.likedUserName:hover
{
    font-style: bold;
    text-decoration: underline;
    cursor: pointer;
}

.userInfoContainer
{
    display: flex;
    align-items: center;
}

.avatar:hover
{
    opacity: 0.6;
    cursor: pointer ;
}